# Virtual environment
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE / Editor specific
.vscode/
.idea/
*.swp
*.swo

# Data files & Models (consider Git LFS for these if they need to be versioned)
*.pkl
*.sqlite
*.csv
*.json
*.h5
*.model
*.pt
*.pth
*.onnx

# Build artifacts
dist/
build/
*.egg-info/

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# macOS specific
.DS_Store .env
